@model IEnumerable<BigSchools.Models.Course>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecture">
                        @course.LectureId
                    </span>
                    <span class="category">
                        @course.CategoryID
                    </span>
                </div>
            </li>
        }
    </ul>
    @section scripts{
        <script>
            $(document).ready(function () {
                $(".js-tongle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { Id: button.attr("data-course-id") })
                        .done(function () {
                            alert("Resigter courrse sucessfully!")
                            button
                                .removeClass("btn-default")
                                .addClass("bth-info")
                                .text("Going");
                        }).fail(function () {
                            alert("something failed");
                        });

                });
            });

        </script>
        
        }
</div>
